/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Press+Start+2P&family=Titan+One&display=swap");
/*
@mixin respond-to($media) {
    @if $media == largeDesktop {
      @media only screen and (min-width: $large-desktop) { @content }
    }
    @if $media == smallDesktop {
      @media only screen and (max-width: $small-desktop) { @content; }
    }
    @if $media == handhelds {
      @media only screen and (max-width: $handheld) { @content; }
    }
    @if $media == handhelds-landscape {
      @media only screen  and (min-device-width : $handheld)
                          and (max-device-width : $handhelds-landscape)
                          and (orientation : landscape){ @content; }
    }
    @if $media == mobile {
      @media only screen and (max-width: $mobile) { @content; }
    }
    @if $media == mobile-portrait {
      @media only screen  and (max-width: $mobile)
                          and (orientation : portrait) { @content; }
    }
    @if $media == mobile-landscape {
      @media only screen  and (min-width: 320px)
                          and (max-width: $mobile-landscape)
                          and (orientation : landscape) { @content; }
    }
  
    @if $media == retina {
      @media (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
  
    @if $media == iphone5 {
      @media only screen and (device-aspect-ratio: 40/71) { @content }
    }
  }*/
.logo--marca {
  width: 80px; }

.logo--redes {
  width: 40px; }

/*CSS RESET*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

/* SECCION CONTACTO*/
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .centrado iframe {
    align-content: center; }

#contacto {
  max-width: 800px;
  width: 50%;
  align-content: center;
  text-align: left;
  background-color: white; }
  #contacto fieldset {
    padding: 5%;
    align-items: center; }
    #contacto fieldset legend {
      align-content: center; }
  @media (max-width: 425px) {
    #contacto {
      width: 98%; } }

/* SECCION NOSOTROS */
#nosotros .texto {
  padding: 7%; }

#nosotros .head {
  object-fit: cover; }
  #nosotros .head img {
    width: 100%;
    height: 250px; }

/* SECCIONES PRODUCTOS */
.productos {
  margin: 4%;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  /*.card{
        margin:2rem;
        .imgServ{
            width: 70%;
            border-radius: 10px 10px 10px 10px;
        }
    }*/ }
  .productos .producto {
    align-items: center;
    padding: 10px;
    /*border: 2px solid rgb(135, 80, 170);
        border-radius:5%;*/
    position: relative;
    align-content: center;
    /* border: 2px solid rgb(135, 80, 170);
        border-radius:20%;*/
    display: flex;
    flex-direction: column;
    /* background-color:rgba(136, 80, 170, 0.127); */
    max-width: 200px;
    max-height: 200px; }

.seccion2 .head {
  object-fit: cover; }
  .seccion2 .head img {
    width: 100%;
    height: 200px; }

.seccion2 .texto {
  padding: 4%; }

/* SECCIONES SERVICIOS */
.servicios {
  margin: 1%;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem; }

/* FORMULARIOS*/
form .campo {
  border: 0;
  border-bottom: 1px solid #a2a2a2;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%; }
  form .campo:focus {
    border-bottom: 2px solid #48b979;
    outline: none; }

form textarea {
  border: 0;
  border-bottom: 1px solid #a2a2a2;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%; }

form select {
  border: 0;
  border-bottom: 1px solid #a2a2a2;
  padding: 5px;
  color: #414141;
  font-family: 'Oxygen', sans-serif; }

form button {
  background-color: #8750aa;
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: 0;
  margin-right: 20px; }
  form button:hover {
    background-color: #48b979; }

form fieldset {
  border-radius: 10px;
  border: 2px solid #8750aa; }
  form fieldset legend {
    color: #8750aa;
    font-family: 'Oxygen', sans-serif;
    padding: 5px; }

form label {
  color: #414141;
  font-family: 'Oxygen', sans-serif; }

/* HEADER */
header {
  /* background-color: rgba(136, 80, 170, 0.513);
    padding-top: 2%;
    padding-bottom: 2%;*/
  position: sticky;
  top: 0;
  z-index: 10; }
  header li a {
    text-decoration: none;
    color: white;
    transition: all .5s; }
    header li a:hover {
      transform: scale(1.2, 1.2); }
  header img {
    width: 8rem; }
    header img:hover {
      transition: all 1.5s;
      animation: roll 5s;
      transform: rotate(360deg); }

nav {
  background: #8750aa !important;
  background: linear-gradient(90deg, #8750aa 44%, #c28de4 98%) !important; }
  nav .navbar-nav {
    text-align: center !important; }
    nav .navbar-nav .nav-link {
      color: white; }
    nav .navbar-nav .disable {
      color: rgba(255, 255, 255, 0.384) !important; }
      @media (max-width: 425px) {
        nav .navbar-nav .disable {
          display: none; } }
    nav .navbar-nav .active {
      color: white !important;
      font-weight: bold; }
    nav .navbar-nav .form-inline label {
      color: #d9d9d9 !important; }
    nav .navbar-nav .form-inline .search-field {
      display: block;
      width: 60%;
      background: none;
      border: none;
      border-radius: 0;
      color: #ccc;
      box-shadow: none;
      color: inherit; }
      nav .navbar-nav .form-inline .search-field:active {
        border-bottom: 1px solid #ccc !important;
        transition: border-bottom-color 0.3s; }
  nav .navbar-toggler {
    color: #48b979 !important; }
  nav .navbar-toggler-icon {
    color: #48b979 !important; }
  nav .form-control {
    background: #ffffff00 !important;
    border: 0 !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.68) !important; }
    nav .form-control:active {
      border: solid 1px #48b979 !important; }

/* TEXTOS GENERAL */
p {
  color: #414141;
  font-family: 'Oxygen', sans-serif; }

h1 {
  padding-bottom: 1rem;
  color: #8750aa !important;
  font-family: 'Titan One', cursive;
  font-size: 2rem; }

h2 {
  font-family: 'Oxygen', sans-serif;
  color: #414141; }

h3, h4 {
  color: #8750aa !important;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
  padding-top: 1.3rem; }

.card-title h5 {
  color: #8750aa !important; }

#mapa {
  background-image: url(../images/fondo.jpg);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%; }
  #mapa .map1 {
    width: 60%; }
    #mapa .map1 .map {
      width: 100%;
      height: 100%; }
    @media (max-width: 425px) {
      #mapa .map1 {
        width: 100%; } }
  #mapa .map2 {
    align-items: left;
    width: 40%;
    padding-left: 2%; }
    #mapa .map2 img {
      border-radius: 10px;
      max-width: 100%; }
    #mapa .map2 li {
      list-style-type: none;
      color: #414141;
      font-family: 'Oxygen', sans-serif;
      font-size: 1rem;
      padding: 4%; }
      #mapa .map2 li a {
        text-decoration: none;
        color: #8750aa; }
    @media (max-width: 425px) {
      #mapa .map2 {
        display: none; } }

/* BOTONES */
.boton {
  background-color: #8750aa;
  border-radius: 10px;
  padding: 5px;
  color: white;
  border: 0;
  margin-right: 20px;
  text-decoration: none; }
  .boton:hover {
    background-color: #48b979; }

/* FOOTER */
#footer {
  background: #8750aa;
  background: linear-gradient(90deg, #8750aa 44%, #c28de4 98%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  grid-area: footer;
  bottom: 0;
  position: sticky; }
  #footer div {
    padding: 30px; }
  #footer .redes img {
    width: 40px; }
  #footer img {
    width: 80px; }
  #footer p {
    color: white;
    padding-top: 10px; }
  @media (max-width: 425px) {
    #footer {
      display: flex;
      justify-content: space-around;
      flex-direction: column-reverse;
      align-items: center;
      padding: 2px;
      z-index: 1000; }
      #footer .logo--marca {
        display: none; }
      #footer .redes {
        padding-top: 5px; }
      #footer div {
        padding: 0; } }

/* SLIDER */
#sliderHome {
  grid-area: slider;
  top: 0; }
  #sliderHome div img {
    width: 100%; }
  #sliderHome p {
    color: white !important; }

.carru-1 {
  display: none; }
  @media (max-width: 425px) {
    .carru-1 {
      display: block; } }

@media (max-width: 425px) {
  .carru-2 {
    display: none; } }

/* PASTILLAS CLIENTES */
#clientes {
  margin: 2%;
  grid-area: clientes; }
  #clientes span {
    text-align: center; }
  #clientes ul {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #clientes div {
    align-content: center;
    padding: 30px;
    border: 2px solid #8750aa;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    max-width: 250px; }
    #clientes div img {
      object-fit: cover; }
  #clientes li div {
    align-items: center;
    text-align: center;
    background-color: rgba(136, 80, 170, 0.127); }
  #clientes img {
    width: 150px;
    height: 150px; }

.fotoCliente {
  width: 200px;
  border-radius: 500px; }

.btn {
  background: #8750aa !important;
  border: 0 !important; }
  .btn:hover {
    background: #48b979 !important; }

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header" "slider slider slider" "clientes clientes clientes" "mapa mapa mapa" "footer footer footer"; }
