/*CSS RESET*/
*{
    margin:0;
    padding:0;
}
html{
    font-size:62,5%;    
}
/* SECCION CONTACTO*/
.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3%;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    iframe{
        align-content: center;
    }
}
#contacto{
    max-width:800px;
    width: 50%;
    align-content: center;
    text-align:left;
    background-color: rgb(255, 255, 255);
    fieldset{
        padding: 5%;
        align-items: center;
        legend{
            align-content: center;
        }
    }
    @include responsive(celular){
        width: 98%;
    }
}
/* SECCION NOSOTROS */ 

#nosotros{
    .texto {
        padding:7%;
    }
    .head {
        object-fit: cover;
        img{
            width: 100%;
            height: 250px;
          }
    }
} 
/* SECCIONES PRODUCTOS */
.productos{
    margin:4%;
    margin-bottom:80px;
    text-align: center;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:5rem;
    .producto{
        align-items: center;
        padding: 10px;
        /*border: 2px solid rgb(135, 80, 170);
        border-radius:5%;*/
        position: relative;
        align-content: center;
        /* border: 2px solid rgb(135, 80, 170);
        border-radius:20%;*/
        display: flex;  flex-direction:column; 
       /* background-color:rgba(136, 80, 170, 0.127); */
        max-width: 200px;
        max-height:200px;
    }
    /*.card{
        margin:2rem;
        .imgServ{
            width: 70%;
            border-radius: 10px 10px 10px 10px;
        }
    }*/
}
.seccion2 {
    .head {
        object-fit: cover;
        img{
            width: 100%;
            height: 200px;
          }
    }
    .texto{
        padding:4%;
    }
}
/* SECCIONES SERVICIOS */
.servicios{ 
    margin:1%;
    margin-bottom:80px;
    text-align: center;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:1.5rem;
}

/* FORMULARIOS*/
form{
    .campo{
        border:0;
        border-bottom: 1px solid rgb(162, 162, 162);
        padding: 5px;
        background-color:rgba(255, 255, 255, 0);
        width: 100%;
        &:focus{
            border-bottom:2px solid $verde;
            outline:none;
        }
    }
    textarea{
        border:0;
        border-bottom: 1px solid rgb(162, 162, 162);
        padding: 5px;
        background-color:rgba(255, 255, 255, 0);
        width:100%;
    }
    select{
        border:0;
        border-bottom: 1px solid rgb(162, 162, 162);
        padding: 5px;
        color: rgb(65, 65, 65);
        font-family: 'Oxygen', sans-serif;
    }
    button{
        background-color:  $violeta;
        border-radius: 10px;
        padding: 10px;
        color: rgb(255, 255, 255);
        border:0;
        margin-right: 20px;
        &:hover{
            background-color:  $verde;
        }
    }
    fieldset{

        border-radius: 10px;
        border: 2px solid $violeta;
        legend{
            color: $violeta;
            font-family: 'Oxygen', sans-serif;
            padding: 5px;
        }
    }
    label{
        color: rgb(65, 65, 65);
        font-family: 'Oxygen', sans-serif;
    }
} 

/* HEADER */
header{
    /* background-color: rgba(136, 80, 170, 0.513);
    padding-top: 2%;
    padding-bottom: 2%;*/
    position: sticky;
    top: 0;
    z-index: 10;
    li{
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: all .5s;
            &:hover{
                transform: scale(1.2,1.2);
            }
        }
    }
    img{
        width: 8rem;
        &:hover{
            transition: all 1.5s;
            animation: roll 5s;
            transform: rotate(360deg);
        }
    }
}

nav{
    background: rgb(135,80,170)!important;
    background: linear-gradient(90deg, rgba(135,80,170,1) 44%, rgba(194,141,228,1) 98%)!important;
    .navbar-nav{
        text-align: center!important;
        .nav-link{
            color: white;
        }
        .disable{
            color: rgba(255, 255, 255, 0.384)!important;
            @include responsive (celular){
                display: none;
            }
        }
        .active{
            color: white!important; 
            font-weight: bold;
        }
        .form-inline{
            label {
                color: #d9d9d9!important;
            }
            .search-field {
                display:block;
                width: 60%;
                background: none;
                border: none;
                border-radius: 0;
                color: #ccc;
                box-shadow: none;
                color: inherit; 
                &:active{
                    border-bottom: 1px solid #ccc!important;
                    transition: border-bottom-color 0.3s;
                }  
            }
        }  
    }
    .navbar-toggler{
        color: $verde!important;
    }
    .navbar-toggler-icon{
        color: $verde!important;
    }
    .form-control{
        background: #ffffff00 !important;
        border: 0!important;
        border-bottom: solid 1px rgba(255, 255, 255, 0.68)!important;
        &:active{
            border: solid 1px $verde!important;
        }
    }
        
}
/* TEXTOS GENERAL */
p{
    color: rgb(65, 65, 65);
    font-family: 'Oxygen', sans-serif;
}
h1{
    padding-bottom: 1rem;
    color:  $violeta!important;
    font-family: 'Titan One', cursive;
    font-size: 2rem;

}
h2{
    font-family: 'Oxygen', sans-serif;
    color: rgb(65, 65, 65);
}
h3, h4{
    color:  $violeta!important;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
    padding-top:1.3rem;
}
.card-title{
    h5 {
        color: $violeta!important;
    }
}

#mapa{
    background-image: url(../images/fondo.jpg);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    .map1{
        width:60%;
        .map{
            width: 100%;
            height: 100%;
        }
        @include responsive(celular){
            width: 100%;
        }
    }
    .map2{
        align-items:left;
        width: 40%;
        padding-left: 2%;
        img{
            border-radius:10px;
            max-width: 100%;
        }
        li{
            list-style-type: none ;
            color: rgb(65, 65, 65);
            font-family: 'Oxygen', sans-serif;
            font-size: 1rem;
            padding: 4%;
            a{
                text-decoration: none;
                color: $violeta;
            }
        }
        @include responsive(celular){
            display: none;
        }
    }
}
/* BOTONES */
.boton{
    background-color:  $violeta;
    border-radius: 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
    border:0;
    margin-right: 20px;
    text-decoration: none;
    &:hover{background-color:  $verde;}
}

/* FOOTER */
#footer {
    background: $violeta;
    background: linear-gradient(90deg, rgba(135,80,170,1) 44%, rgba(194,141,228,1) 98%);
    width: 100%;
    display: flex;
    justify-content:space-around;
    grid-area: footer;
    bottom: 0;
    position: sticky;
    div {
        padding: 30px;
    }
    .redes{
        img{
            width: 40px;
        }
    }
    img {
        width: 80px;
    } 
    p {
        color: rgb(255, 255, 255);
        padding-top:10px;
    }
    @include responsive(celular){
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
        padding: 2px;
        z-index: 1000;
        .logo--marca{
            display: none;
        }
        .redes {
            padding-top: 5px;
        }
        div{
            padding: 0;
        }
    }
}


/* SLIDER */

#sliderHome{
        grid-area: slider;
        top:0;
        div{
            img{
                width: 100%;
            }
        }
        p{
            color: white!important;
        }
}  
.carru-1{
     display:none;
     @include responsive (celular){
        display: block;
     }
}
.carru-2{
    @include responsive(celular){
        display: none;
    }
}

/* PASTILLAS CLIENTES */

#clientes{
    margin:2%;
    grid-area: clientes;
    span{
        text-align:center;
    }
    ul{
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div{
        align-content: center;
        padding: 30px;
        border: 2px solid $violeta;
        border-radius:20%;
        display: flex; 
        flex-direction:column; 
        max-width: 250px;
        img{
            object-fit: cover;
        }
    }
    li{
        div{
            align-items: center;
            text-align: center;
            background-color:rgba(136, 80, 170, 0.127);
        }
    } 
    img{
        width: 150px;
        height: 150px;
    }
}
.fotoCliente{
    width: 200px;
    border-radius:500px;
}
.btn{
    background: $violeta!important;
    border: 0!important;
    &:hover{background: $verde!important;}
}

.home {
    display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header"
    "slider slider slider"
    "clientes clientes clientes"
    "mapa mapa mapa"
    "footer footer footer";
  }
